<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.yong.photo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".SelectorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PreviewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name=".PhotoProvider"
            android:authorities="dev.yong.photo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_paths" />
        </provider>
    </application>

</manifest>