<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.yong.photo">

    <application android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SelectorActivity" />
        <activity android:name=".PreviewActivity" />
    </application>

</manifest>